@font-face{
	font-family:sanskritfont;
	src: url(../sanskritfont/sanskrit.TTF);
}
body{
	margin:1.5%;
	background-color:#e2e4e9;
}
header{
	background-image:linear-gradient(to bottom right,#f79200,#FFFFFF,#00ea1d);
}
h1{
	font-family:sanskritfont;
	font-size:400%;
	text-align:center;
	padding:1.5%;
}
h3{
	font-size:150%;
}

div,footer{
	border:solid 1px #000000;
	padding:1%;
	margin-top:1%;
	margin-bottom:1%;
	background:rgba(160,204,217,0.38);
}
table{
	width:35%;
}
th{
	width:50%;
	border:solid 3px #000000;
	background-color:#bbbbbb;
	padding:5%;
	font-size:125%;
}
td{
	width:50%;
	border:solid 1px #000000;
	padding:2%;
	text-decoration:none;	
}
tr:nth-child(even){
	background-color:rgba(219,212,212,0.75);
}
tr:nth-child(odd){
	background-color:#ffffff;
}
#map{
	width:35%;
}
i{
	font-size:300%;
	color:#006400;	
	background-color:rgba(256,256,256,0.5);
	position:fixed;
	bottom:20px;
	right:10px;
	border:outset 2px #ffffff;
}
.menu a{
	display:inline-block;
	text-decoration:none;
	border:double 1px #000000;
	color:#801515;
	padding:0.5%;
	width:12%;
	margin:1%;
	border-radius:10%;
	text-align:center;
	font-size:120%;
}
.menu a:hover{
	width:16%;
	border:double 2px #000000;
	background-color:#FFFFFF;	
}
.navbar-inverse{
	background-color:rgba(0,0,0,0);
	border-color:rgba(0,0,0,0);
}
.navbar-nav>li>a {
    color: #000000 !important;
	font-size:large;
	border:outset 1px #000000;
	text-decoration:none;
}
.navbar-nav>li>a:hover{
	background-color:#ffffff !important;
}

